!---- Xft settings
!Xcursor.theme: Neutral_Plus
!Xft.antialias: 1
!Xft.autohint: 0
!Xft.hinting: 1
!Xft.hintstyle:  hintfull
!Xft.lcdfilter:  lcddefault
!Xft.rgba: rgb

!---- URxvt general settings
URxvt.cursorBlink:                    false
URxvt.font:                           xft:Monospace:size=10
URxvt.iso14755:                       false
URxvt.jumpScroll:                     true
URxvt.matcher.button:                 1
URxvt.perl-ext-common:                default,matcher,clipboard
URxvt.saveLines:                      4096
URxvt.scrollBar:                      false
URxvt.scrollTtyKeypress:              true
URxvt.scrollTtyOutput:                false
URxvt.scrollWithBuffer:               false
URxvt.urgentOnBell:                   true
URxvt.urlLauncher:                    /usr/bin/google-chrome
URxvt.visualBell:                     false

!---- URxvt Tomorrow Night
URxvt.fading:       30
URxvt.foreground:   #c5c8c6
URxvt.background:   #101112
URxvt.cursorColor:  #aeafad
URxvt.color0:       #000000
URxvt.color1:       #912226
URxvt.color2:       #778900
URxvt.color3:       #ae7b00
URxvt.color4:       #1d2594
URxvt.color5:       #682a9b
URxvt.color6:       #2b6651
URxvt.color7:       #929593
URxvt.color8:       #666666
URxvt.color9:       #cc6666
URxvt.color10:      #b5bd68
URxvt.color11:      #f0c674
URxvt.color12:      #81a2be
URxvt.color13:      #b294bb
URxvt.color14:      #8abeb7
URxvt.color15:      #ecebec
